@charset "utf-8";
/*默认皮肤*/
/* CSS Document */
.pcddMain .header{background: #4f546a;color:#fff;}/*顶部header字体和背景颜色*/

/*顶部角标样式*/
.el-badge__content {background-color: #f59275;  color: #fff;}
.pcddMain .header a{color:#fff;}/*顶部a的颜色*/
.pcddMain .header .logo{background: #434851;color:#fff;}/*logo背景颜色和字体颜色*/
/*横版导航效果*/
.top_menu .submenu li a{background-color: #434851;color:#F9FAFC;}
.top_menu .submenu li a:hover{background: #f59275;color:#F9FAFC;}
.top_menu .submenu li .router-link-active{background: #f59275;color:#fff;}

.top_menu .menu > li>a{color:#F9FAFC;}
.top_menu .menu >li .parentMenu:hover{color: #f59275;background:#fff;}

/*左侧菜单hover效果*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a:hover,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a:hover{ background-color: rgb(245,146,117);color: #F9FAFC;}
/*左侧菜单背景颜色*/
.pcddMain .main .navLeft #leftMenu,.pcddMain .main .navLeft{background-color: #4f546a;}
/*二级菜单展开背景颜色*/
.pcddMain .main .navLeft .nav-slide-o{background-color: #434851}
/*before样式*/
.pcddMain .main .navLeft .nav-ul li a:before{background-color: rgb(245,146,117);}
.pcddMain .main .navLeft .nav-slide-o li a:before{background-color: rgb(245,146,117);}
/*左侧菜单字体颜色*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a{color: #fff;}
/*菜单选中样式*/
.pcddMain .main .navLeft #leftMenu .bgStyle { background:#f59275; }
.fontStyle{color:#fff !important;background:#f59275;}
/*强行覆盖掉原来组件字体的样式*/
.router-link-active{background:#f59275;color:#fff !important;}
    /*按钮主题皮肤*/
.el-button:focus,.el-button:hover{color:#4f546a;}/*#475669*/

.el-button--primary {
    color: #fff;
    background-color: #4f546a;
    border-color: #4f546a
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #727688;
    border-color: #727688;
    color: #fff
}
.el-button--primary.is-active, .el-button--primary:active {
    background: #474C5F;
    border-color: #474C5F;
    color: #fff
}
.el-button--primary.is-plain {
    background: #fff;
    border: 1px solid #BFC1D9;
    color: #1F213D;
}
.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: #fff;
    border-color: #4f546a;
    color: #4f546a
}
.el-button--primary.is-plain:active {
    background: #fff;
    border-color: #474C5F;
    color: #474C5F;
}
/*-----------分割线------------*/
/*select下拉选中,以及hover颜色*/
.el-select-dropdown__item.selected.hover {
    background-color: #464A5D;
}
.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #4f546a
}
/*下拉选择的input边框颜色*/
.el-select .el-input__inner:focus {
    border-color: #4f546a;
}
.el-input__inner:focus {
    border-color: #4f546a;
}
/*时间下拉选项的选中时间背景色*/
.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
    background-color: #4f546a !important;
    color: #fff;
}
.el-date-table td.today:before {
    border-top: .5em solid #4f546a;
}
/*今天的背景角颜色*/
.el-date-table td.today {
    color: #4f546a;
}
/*textarea 多行文本域选中颜色主题*/
.el-textarea__inner:focus {
    border-color: #4f546a
}
/*页码的主题*/
.el-pager li.active {
    border-color: #4f546a;
    background-color: #4f546a;
    color: #fff;
}
/*弹出框主题/皮肤公用样式*/
.el-dialog .el-dialog__header{
    background-color: #4f546a;
}
.el-dialog__header {
    background-color: #4f546a;
}

.el-dialog__header .el-dialog__title {
    color: #fff;
}

.el-dialog__header .el-dialog__close {
    color: #fff;
}

.el-dialog__footer {
    border-top: 1px solid #D3DCE6;
}
/*弹窗中的按钮样式 hover*/
.el-button:focus, .el-button:hover {
    /*color: #f59275;*/
    border-color: #4f546a
}
.formCancel:hover{
    color: #4f546a;
}
/*单选/多选的主题,switch的开关主题*/
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-switch__input:checked+.el-switch__core,
.el-checkbox__input.is-indeterminate .el-checkbox__inner{border-color:#4f546a;background:#4f546a;}
/* 全选点击选中之后的主题*/
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #4f546a;
}
/*checkbox 的hover主题*/
.el-checkbox__inner:hover{border-color:#4f546a;}
/*登录的提交按钮/弹窗的提交按钮*/
.formSave{background:#f59275;border-color:#f59275;}
/*默认模板主题颜色*/
.defutFont{color:#f59275;}
/*网站管理的pc 和 mobile 的选中样式*/
#mobile .cardCheck,#pc .cardCheck{background: #f59275;color:#fff;}
#mobile .active,#pc  .active{border:2px solid #f59275;}
/*s时间组件select*/
.vdp-datepicker__calendar .cell.selected{background:#f59275;color:#fff;}
.vdp-datepicker__calendar .cell.selected:hover{color:#f59275;}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    background-color: #e4e8f1;
}
/*时间主题*/
.time-picker .dropdown ul li.active,
li.active:hover {
    background:#f59275;color:#fff;
}