@charset "utf-8";
/*绿色皮肤*/
/* CSS Document */
.pcddMain .header {
    background: #00bca4;
    color: #F9FAFC;
}

/*顶部header字体和背景颜色*/
/*顶部角标样式*/

.el-badge__content {
    background-color: #f88580;
    color: #fff;
}

.pcddMain .header a {
    color: #F9FAFC;
}

/*顶部a的颜色*/
.pcddMain .header .logo {
    background: #1fc5b1;
    color: #F9FAFC;
}

/*logo背景颜色和字体颜色*/
/*横版导航效果*/
.top_menu .submenu li a{background-color: #d1e5e5;color:#485c6a;}
.top_menu .submenu li a:hover{background: #00bca4;color:#fff;}
.top_menu .submenu li .router-link-active{background: #00bca4;color:#fff;}

.top_menu .menu > li>a{color:#fff;}
.top_menu .menu >li .parentMenu:hover{color: #00bca4;background:#fff;}
/*左侧菜单hover效果*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a:hover,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a:hover{ background: #00bca4;  color: #F9FAFC;}
/*左侧菜单背景颜色*/
.pcddMain .main .navLeft #leftMenu,.pcddMain .main .navLeft{background-color: #e3ebeb;}
/*二级菜单展开背景颜色*/
.pcddMain .main .navLeft .nav-slide-o{background-color: #d1e5e5;}
/*before样式*/
.pcddMain .main .navLeft .nav-ul li a:before{background: #00bca4;}
.pcddMain .main .navLeft .nav-slide-o li a:before{background: #00bca4;}
/*左侧菜单字体颜色*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a{color: #324057;}
/*菜单选中样式*/
.pcddMain .main .navLeft #leftMenu .bgStyle { background:#00bca4; }
.fontStyle{color:#fff !important;background:#00bca4;}
/*强行覆盖掉原来组件字体的样式*/
.router-link-active{background:#00bca4;color:#fff !important;}
/*按钮主题皮肤*/
.el-button--primary {
    color: #fff;
    background-color: #00bca4;
    border-color: #00bca4;
}

.el-button:focus, .el-button:hover {
    color: #00bca4;
}

/*#475669*/
.el-button--primary:focus, .el-button--primary:hover {
    background: #00D6BE;
    border-color: #00D6BE;
    color: #fff
}

.el-button--primary.is-active, .el-button--primary:active {
    background: #00927F;
    border-color: #00927F;
    color: #fff
}

.el-button--primary.is-plain {
    background: #fff;
    border: 1px solid #BFC1D9;
    color: #1F213D;
}

.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: #fff;
    border-color: #00bca4;
    color: #00bca4
}

.el-button--primary.is-plain:active {
    background: #fff;
    border-color: #00D6BE;
    color: #00D6BE;
}

/*-----------分割线------------*/
/*select下拉选中,以及hover颜色*/
.el-select-dropdown__item.selected.hover {
    background-color: #00bca4;
}

.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #00bca4
}

/*下拉选择的input边框颜色*/
.el-select .el-input__inner:focus {
    border-color: #00bca4;
}

.el-input__inner:focus {
    border-color: #00bca4;
}

/*时间下拉选项的选中时间背景色*/
.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
    background-color: #00bca4 !important;
    color: #fff;
}

.el-date-table td.today:before {
    border-top: .5em solid #00bca4;
}

/*今天的背景角颜色*/
.el-date-table td.today {
    color: #00bca4;
}

/*textarea 多行文本域选中颜色主题*/
.el-textarea__inner:focus {
    border-color: #00bca4
}

/*页码的主题*/
.el-pager li.active {
    border-color: #00bca4;
    background-color: #00bca4;
    color: #fff;
}

/*弹出框主题/皮肤公用样式*/
.el-dialog .el-dialog__header {
    background-color: #00bca4;
}

.el-dialog__header {
    background-color: #00bca4;
}

.el-dialog__header .el-dialog__title {
    color: #fff;
}

.el-dialog__header .el-dialog__close {
    color: #fff;
}

.el-dialog__footer {
    border-top: 1px solid #D3DCE6;
}

/*弹窗中的按钮样式 hover*/
.el-button:focus, .el-button:hover {
    /*color: #C7CEB2;*/
    border-color: #00bca4
}

.formCancel:hover {
    color: #00bca4;
}

/*单选/多选的主题*/
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-switch__input:checked + .el-switch__core,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #00bca4;
    background: #00bca4;
}
/* 全选点击选中之后的主题*/
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #00bca4;
}
/*checkbox 的hover主题*/
.el-checkbox__inner:hover{ border-color: #00bca4;}
/*默认模板主题颜色*/
.defutFont {
    color: #00bca4;
}
/*网站管理的pc 和 mobile 的选中样式*/
#mobile .cardCheck,#pc .cardCheck{background: #00bca4;color:#fff;}
#mobile .active,#pc  .active{border:2px solid #00bca4;}
/*s时间组件select*/
.vdp-datepicker__calendar .cell.selected{background:#00bca4;color:#fff;}
.vdp-datepicker__calendar .cell.selected:hover{color:#00bca4;}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    background-color: #e4e8f1;
}
/*时间主题*/
.time-picker .dropdown ul li.active,
li.active:hover {
    background: #00bca4;color:#fff;
}




