@charset "utf-8";
/*红色皮肤*/
/* CSS Document */
.pcddMain .header{background: #e94d3e;color:#F9FAFC;}/*顶部header字体和背景颜色*/
/*顶部角标样式*/

.el-badge__content {background-color: #f5c92b;  color: #fff;}
.pcddMain .header a{color:#F9FAFC;}/*顶部a的颜色*/
.pcddMain .header .logo{background: #ad3129;color:#F9FAFC;}/*logo背景颜色和字体颜色*/

/*横版导航效果*/
/*横版导航效果*/
.top_menu .submenu li a{background-color: #e5d5d1;color:#485c6a;}
.top_menu .submenu li a:hover{background: #e74e3e;color:#fff;}
.top_menu .submenu li .router-link-active{background: #e74e3e;color:#fff;}

.top_menu .menu > li>a{color:#fff;}
.top_menu .menu >li .parentMenu:hover{color: #e74e3e;background:#fff;}
/*左侧菜单的hover效果*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a:hover,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a:hover{ background-color: #e74e3e;  color:#F9FAFC;}
/*左侧菜单背景颜色*/
.pcddMain .main .navLeft #leftMenu,.pcddMain .main .navLeft{background-color: rgb(246, 240, 238);}
/*二级菜单展开背景颜色*/
.pcddMain .main .navLeft .nav-slide-o{background-color: #e5d5d1;}
/*before样式*/
.pcddMain .main .navLeft .nav-ul li a:before{background-color: #e74e3e; }
.pcddMain .main .navLeft .nav-slide-o li a:before{background-color: #e74e3e; }
/*左侧菜单字体颜色*/
.pcddMain .main .navLeft #leftMenu .nav-ul li a,
.pcddMain .main .navLeft #leftMenu .nav-slide-o li a{color: #6a4f48;}
/*菜单选中样式*/
.pcddMain .main .navLeft #leftMenu .bgStyle { background:#e74e3e; }
.fontStyle{color:#fff !important;background:#e74e3e;}
/*强行覆盖掉原来组件字体的样式*/
.router-link-active{background:#e74e3e;color:#fff !important;}
/*按钮主题皮肤*/
.el-button:focus,.el-button:hover{color:#e94d3e;}/*#475669*/

.el-button--primary {
    color: #fff;
    background-color: #e94d3e;
    border-color: #e94d3e
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #882A23;
    border-color: #882A23;
    color: #fff
}
.el-button--primary.is-active, .el-button--primary:active {
    background: #983126;
    border-color: #983126;
    color: #fff
}
.el-button--primary.is-plain {
    background: #fff;
    border: 1px solid #BFC1D9;
    color: #1F213D;
}
.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: #fff;
    border-color: #e94d3e;
    color: #e94d3e
}
.el-button--primary.is-plain:active {
    background: #fff;
    border-color: #a63326;
    color: #a63326;
}
/*-----------分割线------------*/
/*select下拉选中,以及hover颜色*/
.el-select-dropdown__item.selected.hover {
    background-color: #e94d3e;
}
.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #e94d3e
}
/*下拉选择的input边框颜色*/
.el-select .el-input__inner:focus {
    border-color: #e94d3e;
}
.el-input__inner:focus {
    border-color: #e94d3e;
}
/*时间下拉选项的选中时间背景色*/
.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
    background-color: #e94d3e !important;
    color: #fff;
}
.el-date-table td.today:before {
    border-top: .5em solid #e94d3e;
}
/*textarea 多行文本域选中颜色主题*/
.el-textarea__inner:focus {
    border-color: #e94d3e
}
/*页码的主题*/
.el-pager li.active {
    border-color: #e94d3e;
    background-color: #e94d3e;
    color: #fff;
}
/*弹出框主题/皮肤公用样式*/
.el-dialog .el-dialog__header{
    background-color: #e94d3e;
}
.el-dialog__header {
    background-color: #e94d3e;
}

.el-dialog__header .el-dialog__title {
    color: #fff;
}

.el-dialog__header .el-dialog__close {
    color: #fff;
}

.el-dialog__footer {
    border-top: 1px solid #D3DCE6;
}
/*弹窗中的按钮样式 hover*/
.el-button:focus, .el-button:hover {
    /*color: #f59275;*/
    border-color: #e94d3e;
}
.formCancel:hover{
    color: #e94d3e;
}
/*单选/多选的主题,switch的开关主题*/
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-switch__input:checked+.el-switch__core,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {border-color: #ff9d85;background: #ff9d85;}
/* 全选点击选中之后的主题*/
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #ff9d85;
}
/*che
/*checkbox 的hover主题*/
.el-checkbox__inner:hover{border-color: #ff9d85;}

/*默认模板主题颜色*/
.defutFont{color:#e94d3e;}
/*网站管理的pc 和 mobile 的选中样式*/
#mobile .cardCheck,#pc .cardCheck{background: #e94d3e;color:#fff;}
#mobile .active,#pc  .active{border:2px solid #e94d3e;}
/*s时间组件select*/
.vdp-datepicker__calendar .cell.selected{background:#e94d3e;color:#fff;}
.vdp-datepicker__calendar .cell.selected:hover{color:#e94d3e;}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    background-color: #e4e8f1;
}
/*时间主题*/
.time-picker .dropdown ul li.active,
li.active:hover {
    background: #e94d3e;color:#fff;
}



